<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

    <p>
    Splurty was built by <a target="_blank" href="https://github.com/daniegoodman5/DanielleCoding">Danielle Goodman</a>. A web developer who is on a mission to learn and master the skills taught through the process of building web applications.
    </p>
    <br />
    <p>
    She has continued to learn throughout the course and would not be able to have completed this page without the knowledge of her Mentor, Bryan Reed.
    </p>
    <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
    </p>

    <div class="row">
        <div class="col-12 col-sm-4">
          <%= image_tag 'ME.jpg', class: 'img-fluid' %>
        </div>

        <div class="col-12 col-sm-7 offset-sm-1">
          <h2 class="text-center">Danielle Goodman</h2>
          <br />
          <p>
            Danielle Goodman is a web developer. She is currently studying at SMU to learn more, grow more, and be able to create more.
          </p>
        </div>
    </div>
    <br class="clear" />
    <br />
    <br />
    <br />
    <br />
</div>